* {
	box-sizing: border-box;
}

body {
	margin: 20px auto;
	max-width: 1040px;
}

li {
	list-style: none;
}

.page-link {
	display: block;
}

.header-img {
	border-radius: 50%;
	width: 75%;
	display: block;
	margin: 0 auto;
}

.site-footer{
	clear:both;
}

@media (min-width: 600px){

	.site-header{
		max-width: 25%;
    	float: left;
	}

	.page-content {
		padding: 30px 0;
		width: 75%;
		float: right;
	}
	    
}