/* Table of Contents
- Normalize
- Layout
	- Columns
- Typographical Elements
	- Headings
- Site Header
	- Navigation
- Media Queries
*/

/* # Normalize
---------------------------------------------------------------------------- */
* {
	box-sizing: border-box;
}

/* # Typographical Elements
---------------------------------------------------------------------------- */
html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 16px;
	font-size: 1.6rem;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a {
	color: #000;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #000;
}

p {
	margin-bottom: 1.25em;
}

/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

/* # Layout
---------------------------------------------------------------------------- */
.wrap {
	max-width: 1280px;
	margin: 0 auto;
}

/* ## Columns
--------------------------------------- */

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

/* # Site Header
---------------------------------------------------------------------------- */


/* ## Navigation
--------------------------------------- */


/* # Site Footer
---------------------------------------------------------------------------- */

.site-footer{
	clear:both;
}

/* # Media Queries
---------------------------------------------------------------------------- */

@media (max-width: 600px){

	.flex-grid {
    display: block;
  }

}
