<footer class="site-footer">

  <div class="wrap">

    <div>
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span>{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
          <a href="https://instagram.com/{{ site.twitter_username }}">
            <span>{{ site.instagram_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <span>&copy; {{ site.time | date: '%Y' }}</span>

  </div>

</footer>
